<h1>Bienvenue dans la page pour éditer le commentaire n°<%= params['id'] %> du potin n°<%= params['gossip_id'] %> </h1>

  <center>
    <%= form_for @comment, url:gossip_comment_url do |f| %>

      <div class="form-group">
        <label>Commentaire</label>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <div class="form_group" data-turbo=false>
        <button type="submit" class="btn btn-success" method: :patch> Modifier le commentaire</button> 
  
      </div>
      <div>
      </div>
    <% end %>


  <%= button_to "Supprimer le commentaire", gossip_comment_path, class:"btn btn-danger", form: { data: { turbo_confirm: "Veux-tu supprimer ce commentaire ?" } }, style:"display: inline;", method: :delete %>

  </center>