 <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>

    <style>
    .bg-light {
    background-color: #bd915a!important;
    }

    </style>
    
</head>
   
   <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/">Accueil<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Notre équipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Nous contacter</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
 
 
 <div>
<p> Prénom : <%= @user.first_name %></p>
<p> Nom de famille : <%= @user.last_name %></p>
<p> Description : <%= @user.description %></p>
<p> E-mail : <%= @user.email %></p>
<p> Age : <%= @user.age %></p>
<p> Ville : <%= @user.city.name %></p>
</div>