

  <!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>

    <style>
      .bg-light {
        background-color: #bd915a!important;
      }

      .card {
       
      display: flex; 
      justify: center;
      width: 10rem; 
      margin: 1rem;
      border-radius: 20px;
      }

      button{
      margin: 0.5rem;
      }

    </style>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/">Accueil<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Notre équipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Nous contacter</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div>
      <p>Le titre du potin : <%= @gossip.title%></p>
      <p>Le potin : <%= @gossip.content%></p>
      <p>Nom de l'auteur : <a href="<%=user_path(@user)%>"><%= @user.first_name%></a></p>
      <p>Ville de l'auteur : <a href="<%=city_path(@city)%>"><%= @user.city.name%></a></p>
    </div>

    <p> Date de création du potin : <%= @gossip.created_at %></p>

    <%= button_to "Editer le potin", edit_gossip_path, method: :get %>

    <%= button_to "Supprimer le potin", gossip_path, form: { data: { turbo_confirm: "Veux-tu supprimer ce potin ?" } }, style:"display: inline;", method: :delete %>


<!-- Formulaire de création d'un commentaire -->
<hr>
<%= form_tag(gossip_comments_path(@gossip.id), method: :post) do %>
  <%= label_tag 'Ajouter un commentaire' %>
  <br><br>
  <div>
    <%= text_area_tag 'content', nil, placeholder: "Votre commentaire...", rows: 3, cols: 50 %>
  </div>
  <br/>
  <%= submit_tag "Nouveau commentaire", class:"spec_btn", data: {turbo:false}%>
<% end %>


<!-- Publication des commentaires-->
<hr>
<h2> Commentaires déjà publiés </h2>
<br/>
<div class="text-center"> Il y a actuellement <%= @gossip.comments.count %> commentaires publiés. </div>
<br/>
<div class="row justify-content-center">
  <% @gossip.comments.reverse_each do |comment| %>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
          <p class="card-text"><%= comment.content %></p>
          <%= button_to "Editer le commentaire",  edit_gossip_comment_path(@gossip, comment.id), class:"solu_description spec_btn", method: :get %>
        </div>
      </div>
    </div>
  <% end %>
</div>


  </body>
  </html>
